/* variables */

:root {
  --clr-shade: #151515;
  --clr-tone: #858585;
  --clr-tint: #dddcdc;
  --clr-tint2: #f1f1f1;
  --clr-white: #ffffff;
  --clr-action: rgb(177, 121, 17);
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--clr-action);
}
a:focus {
  outline: 0;
  text-decoration: underline;
}

.item-stars {
  display: flex;
  list-style: none;
  padding: 0;
}

.far.fa-star,
.fas.fa-star {
  color: var(--clr-action);
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--clr-white);
  color: var(--clr-shade);
}

.main-nav {
  display: grid;
  padding: 1em;
  grid-template-areas: 'brand-logo brand-logo menu-btn' 'nav-icons nav-icons nav-icons' 'nav-tab nav-tab nav-tab';
}

.main-nav .brand-logo {
  grid-area: brand-logo;
  margin: 0;
}

.main-nav .menu-btn {
  grid-area: menu-btn;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-nav .icons {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  grid-area: nav-icons;
  padding: 0;
}

.main-nav .nav-tab {
  grid-area: nav-tab;
  padding: 0;
  display: none;
}

.main-nav .nav-list {
  list-style: none;
  line-height: 2;
}

.main-nav .nav-link {
  text-decoration: none;
  color: var(--clr-shade);
  margin-bottom: 0;
}

.main-nav .nav-link::after {
  content: '';
  background: var(--clr-action);
  height: 3px;
  display: block;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: right;
}

.main-nav .nav-link:hover::after {
  transform: scaleX(1);
  transition: transform 250ms ease-in-out;
  transform-origin: left;
}

.main-nav .icon-link {
  color: var(--clr-shade);
  transition: color 200ms ease-in-out;
}

.main-nav .icon-link:hover,
.main-nav .icon-link:focus {
  color: var(--clr-action);
  transition: color 200ms ease-in-out;
}

.main-nav .nav-icon-list {
  list-style: none;
  margin-right: 1.3em;
}

.main-nav .nav-icon-list .badge-number {
  background: var(--clr-action);
  color: var(--clr-white);
  border-radius: 20%;
  padding: 0.1em;
  margin-left: -0.5em;
}

.hero {
  height: 90vh;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
  padding: 0 2em;
  background-color: var(--clr-shade);
  background-image: url('../images/freestocks-_3Q3tsJ01nc-unsplash.jpg');
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: left;
  color: var(--clr-tint2);
}

.hero-inner > div > * {
  margin: 0;
}

.hero-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.hero .hero-title {
  font-size: 3rem;
}

.hero .call-to-action {
  background: var(--clr-action);
  transition: background-color 550ms ease-in-out;
  color: var(--clr-white);
  padding: 1em;
  font-size: 0.9rem;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 1em;
  display: block;
  width: 200px;
  text-align: center;
}

.hero .call-to-action:hover {
  background-color: rgb(241, 159, 6);
  transition: background-color 550ms ease-in-out;
}

.hero .call-to-action:focus {
  border: 1px solid var(--clr-tone);
}

.advert {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.advert .card {
  background: var(--clr-tint2);
  padding: 2em;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
}

.advert .card h3 {
  font-weight: bolder;
}

.advert .card a {
  text-decoration: none;
  color: var(--clr-shade);
  transition: color 550ms ease-in-out;
  font-weight: inherit;
  transition: font-weight 200ms ease-in-out;
}

.advert .card a:hover {
  color: var(--clr-action);
  font-weight: 500;
  transition: color 3000ms ease-in-out;
  transition: font-weight 200ms ease-in-out;
}

.advert .card a:focus {
  outline: 0;
  text-decoration: underline;
}

.advert .advert-one,
.advert .advert-two,
.advert .advert-three {
  background-image: url('../images/model-1.png');
}

.products-category-list .product-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}

.products-category-list {
  padding: 1em;
  margin-top: 2em;
}

.products-category-list .product-card .img-wrapper {
  background-color: var(--clr-tint2);
  text-align: center;
  padding: 1em 0em;
  margin-bottom: 0.4em;
}

.products-category-list p {
  margin: 0.5em 0;
}

.product-category-nav {
  display: flex;
  margin: 0 auto;
  margin-bottom: 2em;
  justify-content: space-around;
}

.product-category-nav label {
  cursor: pointer;
}

.product-category-nav label:after {
  content: '';
  display: block;
  height: 3px;
  background: var(--clr-action);
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in-out;
}

.product-category-nav input[type='radio'] {
  transform: scale(0);
  position: absolute;
}

[type='radio']:checked + label:after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 250ms ease-in-out;
}

.product-ad {
  display: flex;
  margin-top: 2em;
}

.product-ad .column-1,
.product-ad .column-2 {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
  color: var(--clr-white);
  font-weight: 600;
  background-position-y: center;
  background-position-x: center;
}

.product-ad h1 {
  margin: 0;
}

.product-ad a {
  text-decoration: none;
  color: var(--clr-action);
  text-shadow: 1px 1px 2px var(--clr-shade);
  font-weight: 600;
}

.product-ad a::after {
  content: '';
  height: 2px;
  background-color: var(--clr-tint);
  display: block;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: right;
}

.product-ad a:hover::after,
.product-ad a:focus::after {
  transform: scaleX(1);
  transition: transform 250ms ease-in-out;
  transform-origin: left;
}

.column-1 {
  /* background: #524d4d; */
  background: rgb(189, 160, 160);
  background-image: url('../images/freestocks-_3Q3tsJ01nc-unsplash.jpg');
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.column-2 {
  background: #524d4d;
  background-image: url('../images/judeus-samson-0UECcInuCR4-unsplash.jpg');
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
}

.column-1 p,
.column-2 p {
  margin: 0;
}

.contact-us {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  line-height: 2;
  padding-top: 2em;
}

.contact-us .content ul {
  padding: 0;
}

.contact-us .content li {
  list-style: none;
}

.contact-us .customer-service-and-company-address-column li,
.contact-us .our-newsletter-column li {
  font-size: 0.9rem;
}

.our-newsletter-column .newsletter-form .form-grp {
  border-bottom: 1px solid var(--clr-tone);
  transition: border-bottom 250ms ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5em;
}

.our-newsletter-column input {
  width: 100%;
}

.our-newsletter-column input:focus,
.our-newsletter-column button:focus {
  outline: 0;
}

.our-newsletter-column button:hover,
.our-newsletter-column button:focus {
  color: var(--clr-action);
}

.our-newsletter-column input,
.our-newsletter-column button {
  border: none;
}

.our-newsletter-column button {
  background: none;
  padding: 0;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--clr-tone);
  margin-top: 1.5em;
  flex-wrap: wrap;
}

.footer-inner .social-icons,
.footer-inner .hot-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.footer-inner .social-icons li {
  margin-left: 1em;
}

.footer-inner .hot-links li {
  margin-right: 1em;
  font-size: 0.9rem;
}

@media (max-width: 420px) {
  .product-category-nav {
    display: block;
  }
  .product-category-nav > div {
    display: flex;
  }
  .footer-inner {
    padding: 2em;
  }
}

@media (max-width: 425px) {
  .footer-inner {
    padding: 2em;
  }

  .footer-inner > * {
    flex-basis: 100%;
  }
}

@media (max-width: 600px) {
  .contact-us {
    justify-content: unset !important;
  }
}
@media (min-width: 768px) {
  .customer-service-and-company-address-column,
  .our-newsletter-column {
    flex-basis: 50%;
  }
  .product-category-nav {
    width: 60%;
  }
}

@media (max-width: 935px) {
  .main-nav .nav-list {
    display: flex;
  }
  body {
    font-size: 14px;
  }
}

@media (min-width: 900px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-nav .menu-btn {
    display: none;
  }

  .main-nav {
    /* display: grid;
    padding: 1em;
    grid-template-areas: 'nav-tab brand-logo nav-icons'; */

    display: flex;
    /* background-color: grey; */
    /* justify-content: space-between; */
  }

  .main-nav .brand-logo {
    order: 2;
    flex-basis: 40%;
    text-align: center;
  }

  .main-nav .nav-tab {
    order: 1;
    flex-basis: 30%;
  }

  .main-nav .icons {
    order: 3;
    flex-basis: 30%;
    /* background-color: grey; */
    display: flex;
    justify-content: flex-end;
  }

  .main-nav .nav-tab {
    display: flex;
    /* background-color: grey; */
    /* justify-content: space-between; */
  }

  .main-nav .nav-tab .nav-list {
    margin-right: 1.4em;
  }
  .hero-inner {
    justify-content: flex-start;
    width: 80%;
  }

  .customer-service-and-company-address-column {
    display: flex;
    justify-content: space-around;
  }

  .our-newsletter-column {
    justify-content: space-around;
    display: flex;
  }

  .contact-us {
    display: flex;
    flex-wrap: wrap;
    line-height: 2;
  }

  .product-category-nav {
    width: 60%;
  }
}
